
<section>

    <div class="container positioner">
    {% for post in site.categories.sermon limit:1 %}
        <a href="{{site.baseurl}}{{ post.url}}" id="card-1" style="background-image: url('{{site.baseurl}}/img/{{ post.image }}') "></a>
    {% endfor %}
        <div class="wrap">
            {% for post in site.categories.announcement limit:1%}
            <a href="{{site.baseurl}}{{ post.url}}" id="card-2" style="background-image: url('{{site.baseurl}}/img/{{ post.image }}') "></a>
            {% endfor %}
            <div class="wrapper">
                {% for post in site.categories.event limit:1%}
                <a href="{{site.baseurl}}{{ post.url}}" id="card-3" style="background-image: url('{{site.baseurl}}/img/{{ post.image }}') "></a>
                {% endfor %}
                {% for post in site.categories.action limit:1 3%}
                <a href="{{site.baseurl}}{{ post.url}}" id="card-4" style="background-image: url('{{site.baseurl}}/img/{{ post.image }}') "></a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="action-step positioner">
        <div class="wrap">
        <h2>Action Step</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed sollicitudin lacus. 
        Aliquam fringilla, justo sed auctor posuere, felis eros eleifend sem, blandit finibus odio nisl
         ut odio. Donec a urna a purus porta semper. Pellentesque sed lacus lorem. Curabitur at 
         orci arcu. </p>
         </div>
        <button>Do This</button>
    </div>
</section>
