section
    @media (max-width: 1000px)
    
    @include size(auto)
    display: flex
    flex-wrap: wrap
    align-content: center

    .contain-1
        @include size($large-card+$card-margin)
        display: flex
        flex-wrap: wrap
        align-content: center
        justify-content: space-around
        margin-left: $card-margin
        
        #card-1
            background:
                image: url('/assets/img/spike-square.png') /* eventually, make this the post feature image */
                size: cover
                position: center
            @include size(100%)


    .container
        @include size($large-card+$card-margin)
        display: flex
        flex-wrap: wrap
        align-content: center
        justify-content: space-around
        margin-left: $card-margin
        

            
        #card-2
            background:
                image: url('/assets/img/samurai-square.png') /* eventually, make this the post feature image */
                size: cover
                position: center
            @include size(100% 50%)

            
        #card-3
            background:
                image: url('/assets/img/guitar-man.jpg') /* eventually, make this the post feature image */
                size: cover
                position: center
            @include size(48%)
            margin-top: $card-margin
            margin-right: $card-margin/2

            
        #card-4
            background:
                image: url('/assets/img/lion-square.png') /* eventually, make this the post feature image */
                size: cover
                position: center
            @include size(48%)
            margin-top: $card-margin
            margin-left: $card-margin/2





@media (max-width: 480px)
    section
        display: block
    
        .contain-1
            @include size($large-card/2)

        .container
            margin-top: $card-margin
            width: $large-card/2
            
            #card-1

                @include size(100%)
                    
            #card-2

                @include size($large-card/2)

            #card-3
                @include size($large-card/2)

            #card-4
                @include size($large-card/2)
                














