$card-height: 80vh
$card-margin: $card-height*0.025

//Media Queries: @media (max-width: $small)
$small: 30em
$medium: 58em
$large: 68em
//for xlarge: @media (min-width: $large)



//Fonts
$open-sans: Open Sans
$montserrat: Montserrat
$primary-font-color: black


//LOGO COLORS
$logo-primary: #8b8b8b
$logo-secondary: #d1d1d1
