---
layout: default
---
    {% for pages in site.categories.ministries  limit:1 %}
<article class="post">
  <div class="hero" style="background-image: url('{{site.baseurl}}/img/{{ page.hero }}') " ></div>
  <div class="content">
    <section class="main">
        <h2>{{ page.name }}</h2>
        <p>        {{ page.blurb }}</p>
    </section>
             <h2>{{page.testimonial-header}}</h2>
     <section class="testimonials">
        <div class="wrap">
             <p>{{page.testimonial1}}</p>
            <div class="testimonial" style="background-image: url('{{site.baseurl}}/img/{{ page.testimonial-image1 }}') "></div>
        </div>
        <div class="wrap hide1">
            <div class="testimonial" style="background-image: url('{{site.baseurl}}/img/{{ page.testimonial-image2 }}') "></div>
            <p>{{page.testimonial2}}</p>
        </div>
    </section>
    <section class="contact-form">
            {% include form.html %}
    </section>
  </div>
</article>{% endfor %}

