---
layout: default
---
    {% for pages in site.categories.ministries  limit:1 %}
<article class="post">
  <div style="background-image: url('{{site.baseurl}}/img/{{ page.hero }}') " class="hero"></div>
  <div class="content">
    <h2>{{ page.name }}</h2>
    <p>        {{ page.blurb }}
     </p>
             <h2>{{page.testimonial-header}}</h2>
     <div class="wrap">
        <div style="background-image: url('{{site.baseurl}}/img/{{ page.testimonial-image1 }}') " class="testimonial"><div class="testimonial-overlay"><span>"</span>{{page.testimonial1}}</div></div>
        <div style="background-image: url('{{site.baseurl}}/img/{{ page.testimonial-image2 }}') " class="testimonial hide1"><div class="testimonial-overlay"><span>"</span>{{page.testimonial2}}</div></div>
        <div style="background-image: url('{{site.baseurl}}/img/{{ page.testimonial-image3 }}') " class="testimonial hide2"><div class="testimonial-overlay"><span>"</span>{{page.testimonial3}}</div></div>
    </div>
    <form class="form">
        <h2>I'm Interested</h2>
    </form>
  </div>
</article>{% endfor %}

